{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins:wght@500;600;700;800&display=swap" rel="stylesheet">
{% endblock %}

{% block branding %}
<div class="admin-brand">
  <a class="admin-brand__link" href="{% url 'admin:index' %}">
    <span class="admin-brand__title">Curated</span>
    <span class="admin-brand__pill">{% translate 'Admin' %}</span>
  </a>
  <p class="admin-brand__caption">{% translate 'Inventory, orders, and customer support in one place.' %}</p>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
